# **Telco Churn Prediction - Dataset Cleaning**

https://community.ibm.com/community/user/businessanalytics/blogs/steven-macko/2019/07/11/telco-customer-churn-1113
https://www.kaggle.com/ylchang/telco-customer-churn-1113

#### **Demographics**
- **CustomerID:** A unique ID that identifies each customer.
- **Gender:** The customer’s gender: Male, Female
- **Age:** The customer’s current age, in years, at the time the fiscal quarter ended.
- **Senior Citizen:** Indicates if the customer is 65 or older: Yes, No
- **Married:** Indicates if the customer is married: Yes, No
- **Dependents:** Indicates if the customer lives with any dependents: Yes, No. Dependents could be children, parents, grandparents, etc.

#### **Location**
- **City:** The city of the customer’s primary residence.
- **Zip Code:** The zip code of the customer’s primary residence.
- **Latitude:** The latitude of the customer’s primary residence.
- **Longitude:** The longitude of the customer’s primary residence.

#### **Population**
- **Zip Code:** The zip code of the customer’s primary residence.
- **Population:** A current population estimate for the entire Zip Code area.

#### **Services**
- **Referred a Friend:** Indicates if the customer has ever referred a friend or family member to this company: Yes, No
- **Tenure in Months:** Indicates the total amount of months that the customer has been with the company by the end of the quarter specified above.
- **Phone Service:** Indicates if the customer subscribes to home phone service with the company: Yes, No
- **Multiple Lines:** Indicates if the customer subscribes to multiple telephone lines with the company: Yes, No
- **Internet Service:** Indicates if the customer subscribes to Internet service with the company: No, DSL, Fiber Optic, Cable.
- **Online Security:** Indicates if the customer subscribes to an additional online security service provided by the company: Yes, No
- **Online Backup:** Indicates if the customer subscribes to an additional online backup service provided by the company: Yes, No
- **Device Protection Plan:** Indicates if the customer subscribes to an additional device protection plan for their Internet equipment provided by the company: Yes, No
- **Premium Tech Support:** Indicates if the customer subscribes to an additional technical support plan from the company with reduced wait times: Yes, No
- **Streaming TV:** Indicates if the customer uses their Internet service to stream television programing from a third party provider: Yes, No. The company does not charge an additional fee for this service.
- **Streaming Movies:** Indicates if the customer uses their Internet service to stream movies from a third party provider: Yes, No. The company does not charge an additional fee for this service.
- **Streaming Music:** Indicates if the customer uses their Internet service to stream music from a third party provider: Yes, No. The company does not charge an additional fee for this service.
- **Unlimited Data:** Indicates if the customer has paid an additional monthly fee to have unlimited data downloads/uploads: Yes, No
- **Contract:** Indicates the customer’s current contract type: Month-to-Month, One Year, Two Year.
- **Paperless Billing:** Indicates if the customer has chosen paperless billing: Yes, No
- **Payment Method:** Indicates how the customer pays their bill: Bank Withdrawal, Credit Card, Mailed Check
- **Monthly Charge:** Indicates the customer’s current total monthly charge for all their services from the company.
- **Total Charges:** Indicates the customer’s total charges, calculated to the end of the quarter specified above.
- **Total Refunds:** Indicates the customer’s total refunds, calculated to the end of the quarter specified above.
- **Total Extra Data Charges:** Indicates the customer’s total charges for extra data downloads above those specified in their plan, by the end of the quarter specified above.
- **Total Long Distance Charges:** Indicates the customer’s total charges for long distance above those specified in their plan, by the end of the quarter specified above.

#### **Status**
- **CustomerID:** A unique ID that identifies each customer.
- **Customer Status:** Indicates the status of the customer at the end of the quarter: Churned, Stayed, or Joined
- **Churn Label:** Yes = the customer left the company this quarter. No = the customer remained with the company. Directly related to Churn Value.
- **Churn Value:** 1 = the customer left the company this quarter. 0 = the customer remained with the company. Directly related to Churn Label.
- **CLTV:** Customer Lifetime Value. A predicted CLTV is calculated using corporate formulas and existing data. The higher the value, the more valuable the customer. High value customers should be monitored for churn.
- **Churn Category:** A high-level category for the customer’s reason for churning: Attitude, Competitor, Dissatisfaction, Other, Price. When they leave the company, all customers are asked about their reasons for leaving. Directly related to Churn Reason.
- **Churn Reason:** A customer’s specific reason for leaving the company. Directly related to Churn Category.

#### **Removed features**
- **Country:** The country of the customer’s primary residence.
- **State:** The state of the customer’s primary residence.
- **Lat Long:** The combined latitude and longitude of the customer’s primary residence.
- **Count:** A value used in reporting/dashboarding to sum up the number of customers in a filtered set.
- **Satisfaction Score:** A customer’s overall satisfaction rating of the company from 1 (Very Unsatisfied) to 5 (Very Satisfied).
- **Satisfaction Score Label:** Indicates the text version of the score (1-5) as a text string.
- **Churn Score:** A value from 0-100 that is calculated using the predictive tool IBM SPSS Modeler. The model incorporates multiple factors known to cause churn. The higher the score, the more likely the customer will churn.
- **Churn Score Category:** A calculation that assigns a Churn Score to one of the following categories: 0-10, 11-20, 21-30, 31-40, 41-50, 51-60, 61-70, 71-80, 81-90, and 91-100

#### **New added features**

## **Import Libraries and Load Datasets**

In [1]:
import pandas as pd

In [2]:
#Reading datasets
df_location = pd.read_excel('Data\Telco_customer_churn_location.xlsx')
df_status = pd.read_excel('Data\Telco_customer_churn_status.xlsx')
df_population = pd.read_excel('Data\Telco_customer_churn_population.xlsx')
df_services = pd.read_excel('Data\Telco_customer_churn_services.xlsx')
df_demographics = pd.read_excel('Data\Telco_customer_churn_demographics.xlsx')

#### **Location Cleaning**
- Count, Country and State have only 1 unique value
- Lat Long is a combination of Latitude and Longitude

In [3]:
df_location.head()

,Customer ID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude
0,8779-QRDMV,1,United States,California,Los Angeles,90022,"34.02381, -118.156582",34.023810,-118.156582
1,7495-OOKFY,1,United States,California,Los Angeles,90063,"34.044271, -118.185237",34.044271,-118.185237
2,1658-BYGOY,1,United States,California,Los Angeles,90065,"34.108833, -118.229715",34.108833,-118.229715
3,4598-XLKNJ,1,United States,California,Inglewood,90303,"33.936291, -118.332639",33.936291,-118.332639
4,4846-WHAFZ,1,United States,California,Whittier,90602,"33.972119, -118.020188",33.972119,-118.020188

In [4]:
print(df_location.columns)

Index(['Customer ID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude'],
      dtype='object')

In [5]:
df_location.drop(['Count', 'Country', 'State', 'Lat Long'], axis='columns', inplace=True)

#### **Status Cleaning**
- Count and Quarter have only 1 unique value
- Churn Label is directly correlated to Churn Value
- Customer status looks very similar to Churn Label
- Churn Score is the output of a model, so let's assume our company doesn't have this information

In [6]:
df_status.head()

,Customer ID,Count,Quarter,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,1,Q3,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,1,Q3,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,1,Q3,2,Churned,Yes,1,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,1,Q3,2,Churned,Yes,1,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,1,Q3,2,Churned,Yes,1,67,2793,Price,Extra data charges

In [7]:
df_status.columns

Index(['Customer ID', 'Count', 'Quarter', 'Satisfaction Score',
       'Customer Status', 'Churn Label', 'Churn Value', 'Churn Score', 'CLTV',
       'Churn Category', 'Churn Reason'],
      dtype='object')

In [8]:
df_status.drop(['Count', 'Quarter', 'Customer Status', 'Churn Label', 'Churn Score'], axis='columns', inplace=True)

#### **Population Cleaning**
- ID Looks the only irrelevant column in Population

In [9]:
df_population.head()

   ID  Zip Code  Population
0   1     90001       54492
1   2     90002       44586
2   3     90003       58198
3   4     90004       67852
4   5     90005       43019

In [10]:
df_population.drop(['ID'], axis='columns', inplace=True)

#### **Services Cleaning**
- Count and Quarter have only 1 unique value
- Total Revenue was also droped since it can be calculated
- Total Charges will be renamed to Total Regular Charges, meaning it doesn't consider the Extra Data nor the Long Distance Charges

In [11]:
df_services.head()

,Customer ID,Count,Quarter,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,...,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
0,8779-QRDMV,1,Q3,No,0,1,None,No,0.00,No,...,No,Month-to-Month,Yes,Bank Withdrawal,39.65,39.65,0.00,20,0.00,59.65
1,7495-OOKFY,1,Q3,Yes,1,8,Offer E,Yes,48.85,Yes,...,Yes,Month-to-Month,Yes,Credit Card,80.65,633.30,0.00,0,390.80,1024.10
2,1658-BYGOY,1,Q3,No,0,18,Offer D,Yes,11.33,Yes,...,Yes,Month-to-Month,Yes,Bank Withdrawal,95.45,1752.55,45.61,0,203.94,1910.88
3,4598-XLKNJ,1,Q3,Yes,1,25,Offer C,Yes,19.76,No,...,Yes,Month-to-Month,Yes,Bank Withdrawal,98.50,2514.50,13.43,0,494.00,2995.07
4,4846-WHAFZ,1,Q3,Yes,1,37,Offer C,Yes,6.33,Yes,...,Yes,Month-to-Month,Yes,Bank Withdrawal,76.50,2868.15,0.00,0,234.21,3102.36

In [12]:
print(df_services.columns,'\n')
#Review unique
for col in df_services:
    print(df_services[col].unique())

Index(['Customer ID', 'Count', 'Quarter', 'Referred a Friend',
       'Number of Referrals', 'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue'],
      dtype='object')

['8779-QRDMV' '7495-OOKFY' '1658-BYGOY' ... '2234-XADUH' '4801-JZAZL'
 '3186-AJIEK']
[1]
['Q3']
['No' 'Yes']
[ 0  1  6  2  4  3  7  5  8  9 10 11]
[ 1  8 18 25 37 27 58 15  7 11  3 13 16 24  4 32 54  2 21 55  5 20 65 49
 43 56 52 33 30 46  9 10 35 44 62 14 12 17 39 68 34 22 19 23 42 41 57 38
 29 66 69 40 31 59 36 45 53 70 47 50 51 72 26  6 28 48 61 71 60 64 67 63]
['None' 'Offer E' 'Offer D' 'Offer C' 'Offer B' 'Offer A']
['No' 'Yes']
[ 0.   48.85 11.33 ... 44.99 44.98  8.62]
['No' 'Yes']
['Yes' 'No']
['DSL' 'Fiber Optic' 'Cable' 'None']
[ 8 17 52 12 14 18 30 24 19 29 28 11  9  7 15  2 10  5 13  0 27 26 22 25
 21 20  6 16 23  4  3 58 53 75 51 47 69 41 57 56 71 48 73 76 59 82 42 39
 85 46]
['No' 'Yes']
['No' 'Yes']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['Month-to-Month' 'One Year' 'Two Year']
['Yes' 'No']
['Bank Withdrawal' 'Credit Card' 'Mailed Check']
[39.65 80.65 95.45 ... 43.05 72.   78.7 ]
[  39.65  633.3  1752.55 ... 7362.9   346.45 6844.5 ]
[ 0.   45.61 13.43 40.95 11.05 29.84 49.57 12.07 40.64 10.2  17.88 37.55
 48.09 32.46 20.23 12.59 43.31  8.13 46.64 23.33 47.2  33.25 33.73 49.06
 25.79 15.24 26.99 44.58 20.16  8.88 12.48  6.79 39.29 44.31  5.49 25.67
  9.49 29.17 19.25 45.69 29.88 39.93 26.98 11.83 16.58 17.16 18.85 37.64
 41.2  12.19 45.81 49.53 21.52 29.   29.99 21.08 36.4  21.17  6.26 17.91
 34.67 28.93 41.23 47.73 40.46 15.41 38.98 16.73 27.15 45.82 39.18 31.05
 20.45  6.65 47.04 15.2   1.69 43.66 24.36 27.89  6.11  7.43 25.07 48.66
 36.52 38.09 24.98 21.71 36.78 30.75 25.55 17.19 33.1  32.71  4.76 44.81
  3.33 19.16 31.58  1.09 18.64 44.17 17.76 33.07  8.74  4.48 36.6  33.43
 45.44 18.55 33.21 48.25 21.72 21.69 14.22 45.37 27.6  10.17 36.44 13.03
 23.89 11.   34.29 48.26 35.82 15.73  9.36 19.67 39.27 41.85 40.   12.81
  4.73 27.38 14.24 13.01 11.45 28.35  7.39 35.05 41.18 30.46 48.61 26.02
 38.48 14.23 40.15 48.95 24.44  9.68 23.72 20.29 48.54  4.96 18.21  1.27
 22.96 28.49 19.5   8.35 35.7  17.01 34.69  4.93 35.34 18.39 27.3  44.16
 34.09 36.61 18.72 44.63 23.97 38.42  1.48  2.93 10.76 20.28 42.18 40.79
 41.21  2.29 24.08 36.29 30.26  4.6  41.67 15.62 46.78 14.49 25.84 16.97
 23.67 46.56 27.09 10.23 15.57 26.55  3.2  21.6  17.14  5.73 32.09  1.83
 47.19 14.21 38.15  8.3  31.39 12.55 11.48 43.38 49.37  9.34 38.61 37.06
 43.25 23.28 45.07 44.9  23.61 19.89 38.84  1.01 14.67 37.37 21.32 36.04
 49.51 47.91 11.72 29.76  1.99 40.62 18.84  9.22 33.8   9.73 46.07 47.87
 39.99 14.76  2.24 42.89 16.12 38.37 47.36 33.76 12.8  23.01 12.16 45.75
 28.42 37.03 38.46 46.66 35.61 18.89  1.66 17.6  21.35 29.32 23.92 29.5
 16.86 42.64  1.31 10.57 34.44 13.07 22.34 43.95 37.44 25.57 14.93 46.75
 28.7   2.28 47.02 16.85 29.11 32.55  5.44 27.79 43.68 41.74  2.18  3.26
 26.87 10.47 37.45 34.16 17.5  11.37 46.81 15.02 19.63 45.47 39.92 22.55
  3.34 17.05 38.33 47.79 24.92 40.54  5.55 30.22  5.47 44.   28.98 49.38
 37.68 18.17 36.38 26.83 29.21 18.88 33.67 17.3  17.03  3.55 25.62 18.62
  9.39  5.9   5.01 42.57 42.43  4.7  21.53 21.58 35.28 28.83 38.57 29.41
 10.65 42.29 16.38 36.66 39.45 29.64 26.32 11.85 16.26 20.17 32.59 16.36
 22.53  6.72 36.22 38.34 28.08 17.96 33.29 24.9  15.38  5.15  6.41 41.66
 46.06 33.13 12.66 48.79  3.59 44.86 34.83 49.79 44.53 47.45 13.37  2.81
 44.13 23.13  2.76 46.99 23.16 44.42 48.59 11.8  17.17 15.76  2.97 15.31
 45.54 14.15 32.53 22.97 21.25 36.02 39.68 23.39 20.87 26.7   3.85  3.51
 35.23  9.48 36.13 44.51  4.08 34.45 16.96 16.91 43.12 49.76 23.5  29.95
  9.99 33.24 28.63 10.7  36.92 27.01 42.34 34.47  9.79 26.37  8.96 21.9
  4.25 16.56 10.28 46.67 14.78 49.23 35.01  9.35 37.04 49.24 32.65 39.15
 18.78 14.57 49.22 16.27  5.83 35.44 29.29 47.59 46.39 24.07  8.5  23.47
 29.59 28.09  6.49 34.59 47.55 37.01 43.76 25.98 12.26 37.49 19.13  1.65
 31.9  21.81 15.17 14.3  22.72  8.53 46.26 15.43 25.49 17.33 45.6  25.24
  2.62 36.07 29.93 23.79 22.4  16.89  7.3  16.99 41.33 30.45 30.14 24.99
 30.53 32.24  4.68  4.18  2.21 19.32 25.92 45.46 25.42 43.96 38.65 49.02
 19.12 20.19 26.84 40.41 19.31 48.23 45.38 27.24]
[ 20   0  10 120 140  90  80  30 100  40 110 150  70  50 130  60]
[   0.    390.8   203.94 ...  865.2  2135.52 2043.36]
[  59.65 1024.1  1910.88 ... 9453.04  319.21 8887.86]

In [13]:
df_services.drop(['Count','Quarter','Total Revenue'], axis='columns', inplace=True)

In [14]:
df_services.rename(columns = {'Total Charges':'Total Regular Charges'}, inplace = True)

#### **Demographics Cleaning**
- Count has only 1 unique value

In [15]:
df_demographics.head()

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1
2,1658-BYGOY,1,Male,71,No,Yes,No,Yes,3
3,4598-XLKNJ,1,Female,78,No,Yes,Yes,Yes,1
4,4846-WHAFZ,1,Female,80,No,Yes,Yes,Yes,1

In [16]:
#Review unique
for col in df_demographics:
    print(df_demographics[col].unique())

['8779-QRDMV' '7495-OOKFY' '1658-BYGOY' ... '2234-XADUH' '4801-JZAZL'
 '3186-AJIEK']
[1]
['Male' 'Female']
[78 74 71 80 72 76 66 70 77 65 67 68 69 79 75 73 37 19 31 23 38 21 29 61
 27 20 56 51 48 32 34 41 30 26 62 64 45 53 63 42 24 54 39 43 50 22 40 47
 60 52 55 59 49 58 25 28 33 44 57 46 36 35]
['No' 'Yes']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
[0 1 3 2 5 4 6 7 8 9]

In [17]:
df_demographics.drop(['Count'], axis='columns', inplace=True)

### **Merge datasets**

In [18]:
#Merge datasets keeping only new and relevant columns from second
df = df_services.merge(df_demographics, on='Customer ID', how='left')
df = df.merge(df_location, on='Customer ID', how='left')
df = df.merge(df_population, on='Zip Code', how='left')
df = df.merge(df_status, on='Customer ID', how='left')

#Review columns
print(df.columns, '\n')

Index(['Customer ID', 'Referred a Friend', 'Number of Referrals',
       'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Regular Charges',
       'Total Refunds', 'Total Extra Data Charges',
       'Total Long Distance Charges', 'Gender', 'Age', 'Under 30',
       'Senior Citizen', 'Married', 'Dependents', 'Number of Dependents',
       'City', 'Zip Code', 'Latitude', 'Longitude', 'Population',
       'Satisfaction Score', 'Churn Value', 'CLTV', 'Churn Category',
       'Churn Reason'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 44 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Referred a Friend                  7043 non-null   object
 2   Number of Referrals                7043 non-null   int64
 3   Tenure in Months                   7043 non-null   int64
 4   Offer                              7043 non-null   object
 5   Phone Service                      7043 non-null   object
 6   Avg Monthly Long Distance Charges  7043 non-null   float64
 7   Multiple Lines                     7043 non-null   object
 8   Internet Service                   7043 non-null   object
 9   Internet Type                      7043 non-null   object
 10  Avg Monthly GB Download            7043 non-null   int64
 11  Online Security                    7043 non-null   object
 12  Online Backup                      7043 non-null   object
 13  Device Protection Plan             7043 non-null   object
 14  Premium Tech Support               7043 non-null   object
 15  Streaming TV                       7043 non-null   object
 16  Streaming Movies                   7043 non-null   object
 17  Streaming Music                    7043 non-null   object
 18  Unlimited Data                     7043 non-null   object
 19  Contract                           7043 non-null   object
 20  Paperless Billing                  7043 non-null   object
 21  Payment Method                     7043 non-null   object
 22  Monthly Charge                     7043 non-null   float64
 23  Total Regular Charges              7043 non-null   float64
 24  Total Refunds                      7043 non-null   float64
 25  Total Extra Data Charges           7043 non-null   int64
 26  Total Long Distance Charges        7043 non-null   float64
 27  Gender                             7043 non-null   object
 28  Age                                7043 non-null   int64
 29  Under 30                           7043 non-null   object
 30  Senior Citizen                     7043 non-null   object
 31  Married                            7043 non-null   object
 32  Dependents                         7043 non-null   object
 33  Number of Dependents               7043 non-null   int64
 34  City                               7043 non-null   object
 35  Zip Code                           7043 non-null   int64
 36  Latitude                           7043 non-null   float64
 37  Longitude                          7043 non-null   float64
 38  Population                         7043 non-null   int64
 39  Satisfaction Score                 7043 non-null   int64
 40  Churn Value                        7043 non-null   int64
 41  CLTV                               7043 non-null   int64
 42  Churn Category                     1869 non-null   object
 43  Churn Reason                       1869 non-null   object
dtypes: float64(7), int64(11), object(26)
memory usage: 2.4+ MB

### **Increasing the Challenge**
- Satisfaction Score is very likely to be highly correlated to Churn, since the lower a customer's satisfaction is, the higher is the chance that this customer churns
- Furthermore, our dataset has a Satisfaction Score for all customers. In real life it is very unlikely that we have collected this information for all customers.
- In order to make this problem more realistic, we will add some additional features to our model:
    - **Customer Service Calls:** the number of times the customer has called the Customer Service in the last 3 months. This will be randomly generated and slightly correlated with churn and churn reason.
    - **Online Support Requests:** the number of times the customer has requested support through the online support services. This is similar to Customer Service Calls and will also be randomly generated and slightly correlated with churn and churn reason.
    - **Product/Service Issues Reported:** the number of times the customer has reported an issue in a product or service in the past three months. This will be randomly generated and slightly correlated with churn and churn reason.
    - **Customer Satisfaction:** the customer satisfaction score collected in the end of a Customer Service Call or an Online Support Request. This will come from Satisfaction Score, but we will assume only 50% of the customers have responded to the survey.

- Extra Data Charges values also seen unrealistic, since they should be correlated to the customer's Avg Monthly GB Download. So let's make it more realistic by replacing this column with a calculated feature based on the Total Charge, Avg Download and whether the customer have Unlimited Data plan or not.

In [20]:
df_status['Churn Reason'].unique()

array(['Competitor offered more data', 'Competitor made better offer',
       'Limited range of services', 'Extra data charges',
       'Competitor had better devices', "Don't know",
       'Service dissatisfaction',
       'Lack of affordable download/upload speed',
       'Product dissatisfaction', 'Long distance charges',
       'Poor expertise of online support', 'Attitude of support person',
       'Network reliability', 'Competitor offered higher download speeds',
       'Moved', 'Price too high', 'Attitude of service provider',
       'Poor expertise of phone support', 'Deceased', nan,
       'Lack of self-service on Website'], dtype=object)

In [21]:
from numpy.random import choice, seed

seed(42)

df['Total Customer Svc Requests'] = 0
df['Product/Service Issues Reported'] = 0
df['Customer Satisfaction'] = ''
df['Total Extra Data Charges'] = 0.00

for i in range(len(df['Customer ID'])):
    online_req = 0
    calls = 0
    
    if df['Churn Reason'][i] in ['Poor expertise of phone support','Attitude of support person']:
        calls = choice([0,1,2],p=([0.7,0.2,0.1])) + df['Churn Value'][i]*choice([1,2,3,4],p=([0.5,0.25,0.15,0.1]))
    else:
        calls = choice([0,1,2],p=([0.7,0.2,0.1])) + df['Churn Value'][i]*choice([0,1,2,3],p=([0.6,0.20,0.15,0.05]))
    if calls < 0:
        calls = 0
    
    if df['Churn Reason'][i] in ['Poor expertise of online support','Lack of self-service on Website']:
        online_req = choice([0,1,2],p=([0.6,0.3,0.1])) + df['Churn Value'][i]*choice([1,2,3,4],p=([0.5,0.25,0.15,0.1]))
    else:
        online_req = choice([0,1,2],p=([0.6,0.3,0.1])) + df['Churn Value'][i]*choice([0,1,2,3],p=([0.5,0.25,0.15,0.1]))
    if online_req < 0:
        online_req = 0
    
    df['Total Customer Svc Requests'][i] = online_req + calls
    
    if  (df['Total Customer Svc Requests'][i]) > 0:
        if df['Churn Reason'][i] in ['Service dissatisfaction','Product dissatisfaction','Network reliability','Competitor had better devices']:
            df['Product/Service Issues Reported'][i] = choice([0,1,2],p=([0.7,0.2,0.1])) + df['Churn Value'][i]*choice([1,2,3,4],p=([0.6,0.25,0.1,0.05]))
        else:
            df['Product/Service Issues Reported'][i] = choice([0,1,2],p=([0.8,0.15,0.05])) + df['Churn Value'][i]*choice([0,1,2],p=([0.85,0.10,0.05]))
        if df['Product/Service Issues Reported'][i] < 0:
            df['Product/Service Issues Reported'][i] = 0
        
    if df['Total Customer Svc Requests'][i] > 0:
        df['Customer Satisfaction'][i] = df['Satisfaction Score'][i] * choice([0,1],p=([0.6,0.4]))
    if df['Customer Satisfaction'][i] == 0:
        df['Customer Satisfaction'][i] = ''
        
    if df['Churn Value'][i] == 1 and df['Internet Service'][i] == 'Yes':
        df['Internet Type'][i] = choice(['Cable', 'DSL', 'Fiber Optic'],p=([0.45,0.3,0.25]))
    elif df['Internet Service'][i] == 'Yes':
        df['Internet Type'][i] = choice(['Cable', 'DSL', 'Fiber Optic'],p=([0.20,0.3,0.50]))
    else:
        df['Internet Type'][i] = "None"
    
    if df['Churn Value'][i] == 1 and df['Internet Service'][i] == 'Yes':
        df['Unlimited Data'][i] = choice(['Yes', 'No'],p=([0.3,0.7]))
    elif df['Internet Service'][i] == 'Yes':
        df['Unlimited Data'][i] = choice(['Yes', 'No'],p=([0.6,0.4]))
    else:
        df['Unlimited Data'][i] = "No"
    
    if df['Churn Value'][i] == 1 and df['Internet Service'][i] == 'Yes':
        df['Avg Monthly GB Download'][i] = round(df['Avg Monthly GB Download'][i]*1.1,0)
    
    if df['Churn Value'][i] == 1 and df['Internet Service'][i] == 'Yes':
        df['Monthly Charge'][i] = df['Monthly Charge'][i]*1.04
        
    
    if df['Unlimited Data'][i] == "Yes" and df['Internet Service'][i] == "Yes" and df['Tenure in Months'][i] > 1:
        df['Total Extra Data Charges'][i] = round(df['Avg Monthly GB Download'][i] / 100 * df['Total Regular Charges'][i] * choice([0.0,0.1],p=([0.8,0.2])),2)
    elif df['Unlimited Data'][i] == "No" and df['Internet Service'][i] == "Yes" and df['Tenure in Months'][i] > 1:
        df['Total Extra Data Charges'][i] = round(df['Avg Monthly GB Download'][i] / 100 * df['Total Regular Charges'][i])
    else:
        df['Total Extra Data Charges'][i] = 0

<ipython-input-21-6361a8ea18ca>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Customer Svc Requests'][i] = online_req + calls
<ipython-input-21-6361a8ea18ca>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Product/Service Issues Reported'][i] = choice([0,1,2],p=([0.8,0.15,0.05])) + df['Churn Value'][i]*choice([0,1,2],p=([0.85,0.10,0.05]))
<ipython-input-21-6361a8ea18ca>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer Satisfaction'][i] = df['Satisfaction Score'][i] * choice([0,1],p=([0.6,0.4]))
<ipython-input-21-6361a8ea18ca>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer Satisfaction'][i] = ''
<ipython-input-21-6361a8ea18ca>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Internet Type'][i] = choice(['Cable', 'DSL', 'Fiber Optic'],p=([0.45,0.3,0.25]))
<ipython-input-21-6361a8ea18ca>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Unlimited Data'][i] = choice(['Yes', 'No'],p=([0.3,0.7]))
<ipython-input-21-6361a8ea18ca>:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Avg Monthly GB Download'][i] = round(df['Avg Monthly GB Download'][i]*1.1,0)
<ipython-input-21-6361a8ea18ca>:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Monthly Charge'][i] = df['Monthly Charge'][i]*1.04
<ipython-input-21-6361a8ea18ca>:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Extra Data Charges'][i] = 0
<ipython-input-21-6361a8ea18ca>:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Extra Data Charges'][i] = round(df['Avg Monthly GB Download'][i] / 100 * df['Total Regular Charges'][i])
<ipython-input-21-6361a8ea18ca>:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Extra Data Charges'][i] = round(df['Avg Monthly GB Download'][i] / 100 * df['Total Regular Charges'][i] * choice([0.0,0.1],p=([0.8,0.2])),2)
<ipython-input-21-6361a8ea18ca>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Product/Service Issues Reported'][i] = choice([0,1,2],p=([0.7,0.2,0.1])) + df['Churn Value'][i]*choice([1,2,3,4],p=([0.6,0.25,0.1,0.05]))
<ipython-input-21-6361a8ea18ca>:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Internet Type'][i] = "None"
<ipython-input-21-6361a8ea18ca>:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Unlimited Data'][i] = "No"
<ipython-input-21-6361a8ea18ca>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Internet Type'][i] = choice(['Cable', 'DSL', 'Fiber Optic'],p=([0.20,0.3,0.50]))
<ipython-input-21-6361a8ea18ca>:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Unlimited Data'][i] = choice(['Yes', 'No'],p=([0.6,0.4]))

In [22]:
df[['Total Extra Data Charges','Tenure in Months','Unlimited Data','Avg Monthly GB Download','Internet Service']][df['Total Extra Data Charges'] > 0].head(40)

,Total Extra Data Charges,Tenure in Months,Unlimited Data,Avg Monthly GB Download,Internet Service
1,120.00,8,No,19,Yes
3,327.00,25,No,13,Yes
4,430.00,37,No,15,Yes
5,427.00,27,No,20,Yes
7,689.00,58,No,26,Yes
8,241.00,15,No,21,Yes
9,101.00,7,No,20,Yes
10,358.00,11,No,32,Yes
11,344.00,15,No,32,Yes
13,41.00,3,No,31,Yes
14,164.00,13,No,12,Yes
15,151.00,16,No,10,Yes
18,8.00,4,No,2,Yes
19,253.00,32,No,11,Yes
22,15.00,2,No,11,Yes
24,113.00,27,No,14,Yes
27,3.51,3,Yes,15,Yes
29,38.00,5,No,29,Yes
30,232.00,20,No,13,Yes
31,80.00,5,No,24,Yes
38,753.00,56,No,13,Yes
39,209.00,20,No,11,Yes
40,34.00,2,No,21,Yes
43,27.00,2,No,30,Yes
44,279.00,33,No,9,Yes
45,579.00,30,No,21,Yes
46,258.00,20,No,14,Yes
47,1072.00,46,No,22,Yes
48,77.00,7,No,12,Yes
49,59.00,4,No,20,Yes
50,441.00,55,No,8,Yes
52,147.00,9,No,16,Yes
53,179.00,10,No,26,Yes
55,25.00,3,No,12,Yes
56,6.84,4,Yes,19,Yes
58,10.00,2,No,12,Yes
59,250.00,8,No,30,Yes
60,422.00,44,No,31,Yes
61,1149.00,62,No,18,Yes
63,106.00,4,No,25,Yes

In [23]:
df.drop(['Satisfaction Score'], axis=1, inplace=True)

In [24]:
df[df['Customer Satisfaction'] != '']

,Customer ID,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,...,Latitude,Longitude,Population,Churn Value,CLTV,Churn Category,Churn Reason,Total Customer Svc Requests,Product/Service Issues Reported,Customer Satisfaction
3,4598-XLKNJ,Yes,1,25,Offer C,Yes,19.76,No,Yes,Fiber Optic,...,33.936291,-118.332639,27778,1,5337,Dissatisfaction,Limited range of services,1,1,2
4,4846-WHAFZ,Yes,1,37,Offer C,Yes,6.33,Yes,Yes,Cable,...,33.972119,-118.020188,26265,1,2793,Price,Extra data charges,1,0,2
7,3445-HXXGF,Yes,6,58,Offer B,No,0.00,No,Yes,Cable,...,34.168686,-118.057505,10558,1,5444,Dissatisfaction,Service dissatisfaction,2,1,1
8,2656-FMOKZ,No,0,15,Offer D,Yes,44.07,Yes,Yes,Cable,...,34.139402,-118.128658,23742,1,5717,Dissatisfaction,Limited range of services,3,0,2
10,0094-OIFMO,No,0,11,Offer D,Yes,11.59,No,Yes,DSL,...,34.207295,-118.400022,57146,1,5980,Dissatisfaction,Product dissatisfaction,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,9586-JGQKH,Yes,8,64,Offer B,Yes,49.26,Yes,Yes,Fiber Optic,...,33.829583,-116.474131,43141,0,4512,NaN,NaN,1,0,3
7026,4807-IZYOZ,No,0,51,Offer B,Yes,19.23,No,No,None,...,33.906496,-116.569499,732,0,4725,NaN,NaN,1,0,3
7029,7203-OYKCT,No,0,72,None,Yes,33.93,Yes,Yes,Fiber Optic,...,33.324900,-114.758334,291,0,5760,NaN,NaN,2,1,5
7034,0871-OPBXW,No,0,2,Offer E,Yes,6.85,No,No,None,...,33.141265,-116.967221,48690,0,5191,NaN,NaN,1,0,3
7040,2234-XADUH,Yes,4,72,None,Yes,29.66,Yes,Yes,Cable,...,34.559882,-115.637164,42,0,5560,NaN,NaN,2,0,4

In [25]:
df[df['Churn Value']==1].head(15)

,Customer ID,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,...,Latitude,Longitude,Population,Churn Value,CLTV,Churn Category,Churn Reason,Total Customer Svc Requests,Product/Service Issues Reported,Customer Satisfaction
0,8779-QRDMV,No,0,1,None,No,0.00,No,Yes,Fiber Optic,...,34.023810,-118.156582,68701,1,5433,Competitor,Competitor offered more data,5,0,
1,7495-OOKFY,Yes,1,8,Offer E,Yes,48.85,Yes,Yes,Cable,...,34.044271,-118.185237,55668,1,5302,Competitor,Competitor made better offer,5,0,
2,1658-BYGOY,No,0,18,Offer D,Yes,11.33,Yes,Yes,Fiber Optic,...,34.108833,-118.229715,47534,1,3179,Competitor,Competitor made better offer,1,0,
3,4598-XLKNJ,Yes,1,25,Offer C,Yes,19.76,No,Yes,Fiber Optic,...,33.936291,-118.332639,27778,1,5337,Dissatisfaction,Limited range of services,1,1,2
4,4846-WHAFZ,Yes,1,37,Offer C,Yes,6.33,Yes,Yes,Cable,...,33.972119,-118.020188,26265,1,2793,Price,Extra data charges,1,0,2
5,4412-YLTKF,No,0,27,Offer C,Yes,3.33,Yes,Yes,Fiber Optic,...,33.989524,-118.089299,63288,1,4638,Competitor,Competitor had better devices,0,0,
6,0390-DCFDQ,Yes,1,1,Offer E,Yes,15.28,No,Yes,Cable,...,33.794990,-118.065591,21343,1,3964,Other,Don't know,7,0,
7,3445-HXXGF,Yes,6,58,Offer B,No,0.00,No,Yes,Cable,...,34.168686,-118.057505,10558,1,5444,Dissatisfaction,Service dissatisfaction,2,1,1
8,2656-FMOKZ,No,0,15,Offer D,Yes,44.07,Yes,Yes,Cable,...,34.139402,-118.128658,23742,1,5717,Dissatisfaction,Limited range of services,3,0,2
9,2070-FNEXE,No,0,7,Offer E,Yes,26.95,No,Yes,DSL,...,34.159007,-118.087353,32369,1,4419,Price,Lack of affordable download/upload speed,3,0,
10,0094-OIFMO,No,0,11,Offer D,Yes,11.59,No,Yes,DSL,...,34.207295,-118.400022,57146,1,5980,Dissatisfaction,Product dissatisfaction,2,2,1
11,9947-OTFQU,No,0,15,Offer D,Yes,29.11,No,Yes,DSL,...,34.097345,-117.906736,33817,1,4616,Competitor,Competitor had better devices,0,0,
12,9514-JDSKI,Yes,1,1,Offer E,No,0.00,No,Yes,Cable,...,34.074492,-118.014620,62660,1,5828,Dissatisfaction,Limited range of services,2,0,
13,7273-TEFQD,No,0,3,Offer E,No,0.00,No,Yes,DSL,...,34.038983,-117.991372,30802,1,2314,Price,Long distance charges,7,1,2
14,3606-TWKGI,No,0,13,Offer D,Yes,32.68,Yes,Yes,Cable,...,33.976753,-117.897367,46342,1,2494,Competitor,Competitor had better devices,1,2,1

In [26]:
df.to_csv('telco_data_merged.csv', index=False)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 46 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Referred a Friend                  7043 non-null   object
 2   Number of Referrals                7043 non-null   int64
 3   Tenure in Months                   7043 non-null   int64
 4   Offer                              7043 non-null   object
 5   Phone Service                      7043 non-null   object
 6   Avg Monthly Long Distance Charges  7043 non-null   float64
 7   Multiple Lines                     7043 non-null   object
 8   Internet Service                   7043 non-null   object
 9   Internet Type                      7043 non-null   object
 10  Avg Monthly GB Download            7043 non-null   int64
 11  Online Security                    7043 non-null   object
 12  Online Backup                      7043 non-null   object
 13  Device Protection Plan             7043 non-null   object
 14  Premium Tech Support               7043 non-null   object
 15  Streaming TV                       7043 non-null   object
 16  Streaming Movies                   7043 non-null   object
 17  Streaming Music                    7043 non-null   object
 18  Unlimited Data                     7043 non-null   object
 19  Contract                           7043 non-null   object
 20  Paperless Billing                  7043 non-null   object
 21  Payment Method                     7043 non-null   object
 22  Monthly Charge                     7043 non-null   float64
 23  Total Regular Charges              7043 non-null   float64
 24  Total Refunds                      7043 non-null   float64
 25  Total Extra Data Charges           7043 non-null   float64
 26  Total Long Distance Charges        7043 non-null   float64
 27  Gender                             7043 non-null   object
 28  Age                                7043 non-null   int64
 29  Under 30                           7043 non-null   object
 30  Senior Citizen                     7043 non-null   object
 31  Married                            7043 non-null   object
 32  Dependents                         7043 non-null   object
 33  Number of Dependents               7043 non-null   int64
 34  City                               7043 non-null   object
 35  Zip Code                           7043 non-null   int64
 36  Latitude                           7043 non-null   float64
 37  Longitude                          7043 non-null   float64
 38  Population                         7043 non-null   int64
 39  Churn Value                        7043 non-null   int64
 40  CLTV                               7043 non-null   int64
 41  Churn Category                     1869 non-null   object
 42  Churn Reason                       1869 non-null   object
 43  Total Customer Svc Requests        7043 non-null   int64
 44  Product/Service Issues Reported    7043 non-null   int64
 45  Customer Satisfaction              7043 non-null   object
dtypes: float64(8), int64(11), object(27)
memory usage: 2.8+ MB